In [2]:
import pandas as pd
df1 = pd.DataFrame(['a'])
df2 = pd.DataFrame(['b'])

In [3]:
df1

   0
0  a

In [4]:
df2

   0
0  b

In [7]:
df3 = pd.concat([df1,df2])

   0
0  a
0  b

In [8]:
df3 = pd.concat([df1,df2], axis=1)

In [9]:
df3

   0  0
0  a  b

In [12]:
df3['1'] = df3.iloc[:,0] + ', ' + df3.iloc[:,1]

In [13]:
df3

   0  0     1
0  a  b  a, b