In [1]:
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [2]:
시가총액, 현재가, PER = 298000000000000, 50000, 15.79
print(type(시가총액), type(현재가), type(PER))

<class 'int'> <class 'int'> <class 'float'>

In [3]:
s = 'hello'
t = 'python'
# print(s, '!', sep='', end=' ');print(t)
print(s+'!', t)

hello! python

In [4]:
2+2*3

8

In [5]:
a = 128
print(type(a))
a = '132'
print(type(a)) # str

<class 'int'>
<class 'str'>

In [6]:
num_str = '720'
print(type(int(num_str)))

<class 'int'>

In [7]:
num = 100
print(type(str(num)))

<class 'str'>

In [8]:
data = '15.79'
print(type(float(data)))

<class 'float'>

In [9]:
year = "2020"
for i in range(1,4):
    print(int(year) + i)

2021
2022
2023

In [10]:
month = 48584
cnt = 36
print(month * cnt)

1749024