In [1]:
my_variable = ()

In [2]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [3]:
num = (1)

In [4]:
t = (1,2,3)
t[0] = 'a'
# tuple은 변경되지 못한다

TypeError: 'tuple' object does not support item assignment

In [5]:
t = 1, 2, 3, 4
# tuple

In [6]:
t = ('a','b','c')
t = ('A','b','c')

In [7]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [8]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [9]:
temp = ('apple', 'banana', 'cake')
a,b,c = temp
print(a,b,c)

apple banana cake

In [10]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)